<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.fcm"
		  xmlns:android="http://schemas.android.com/apk/res/android"
		  android:installLocation="auto">

	<application
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<meta-data
			android:name="com.google.firebase.messaging.default_notification_channel_id"
			android:value="@string/notification_channel_id" />

		<meta-data
			android:name="com.google.firebase.messaging.default_notification_icon"
			android:resource="@drawable/ic_notification" />

		<meta-data
			android:name="com.google.firebase.messaging.default_notification_color"
			android:resource="@color/colorAccent" />

		<service
			android:name=".MyFirebaseMessagingService"
			android:exported="false">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT"/>
			</intent-filter>
		</service>

		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name=".SecondActivity">
			<intent-filter>
				<action android:name="OPEN_ACTIVITY_1"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

	</application>

</manifest>